.unified-doc-highlighter {
  animation-fill-mode: forwards;
  animation-name: fade-out;
  animation-timing-function: ease-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
